include ez_setup.py setup.py README.rst LICENSE.txt CHANGELOG.rst
include bin/MDB
recursive-include setup *.py *.sh *.iss *.desktop *.png *.ico
recursive-include MDB *.py
recursive-include MDB/resources *.png
recursive-include tests *.py
